@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes mymove {
  from {
    left: 15rem; }
  to {
    left: -17rem; } }

@keyframes myMovexl {
  from {
    left: 30rem; }
  to {
    left: -32rem; } }

@keyframes myMovemd {
  from {
    left: 10rem; }
  to {
    left: -13.5rem; } }

@keyframes colorChange {
  from {
    background-color: #5a7e5a; }
  to {
    background-color: #e0e389; } }

html {
  margin: 1rem 1rem;
  font-size: 62.5%; }
  @media (max-width: 47.999em) {
    html {
      margin: 0; } }

.character {
  display: flex;
  justify-content: center; }
  .character__row {
    display: block;
    margin-top: 4rem;
    margin-right: 2rem; }
  .character__link {
    text-decoration: none; }
    .character__link-adwin {
      height: 14rem;
      transition: all 0.5s ease;
      animation-name: fadeIn;
      animation-duration: 2s;
      animation-timing-function: ease;
      animation-name: moveInLeft; }
      .character__link-adwin:hover {
        transform: scale(1.1); }
    .character__link-qimon {
      height: 14rem;
      transition: all 0.5s ease;
      animation-name: fadeIn;
      animation-name: moveInBottom;
      animation-duration: 2s;
      animation-timing-function: ease; }
      .character__link-qimon:hover {
        transform: scale(1.1); }
    .character__link-ricky {
      height: 14rem;
      margin-left: 1rem;
      transition: all 0.5s ease;
      animation-name: fadeIn;
      animation-name: moveInRight;
      animation-duration: 2s;
      animation-timing-function: ease; }
      .character__link-ricky:hover {
        transform: scale(1.1); }

.character__name {
  text-align: center;
  background-color: #f4d3b0;
  border-radius: 0.7rem;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.7rem;
  border: 1px solid #96938f;
  color: #462008; }
  .character__name-1 {
    margin-right: 0.8rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
  .character__name-2 {
    margin-left: 0.1rem;
    animation-name: moveInBottom;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
  .character__name-3 {
    margin-left: 1rem;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
  .character__name-span {
    font-size: x-small;
    font-weight: 300;
    color: #3d1a06; }

.navigation__list {
  list-style-type: none;
  padding: 2rem 2rem;
  overflow: hidden;
  font-size: 1.3rem;
  font-weight: 600; }
  @media (max-width: 61.999em) {
    .navigation__list {
      font-size: 1.2rem; } }
  @media (max-width: 47.999em) {
    .navigation__list {
      font-size: 1rem; } }
  @media (max-width: 35.999em) {
    .navigation__list {
      font-size: 0.8rem; } }

.navigation__item {
  float: right;
  margin-left: 1.5rem;
  padding: 8px;
  background-color: #f9b170;
  border-radius: 1.5rem;
  transition: all 1s ease; }
  .navigation__item:hover {
    text-decoration: underline;
    transform: scale(1.2); }

.navigation__link {
  display: block;
  text-decoration: none;
  color: black; }

.page__logoBox {
  animation-name: fadeIn;
  animation-name: moveInTop;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  display: flex;
  justify-content: center;
  margin-top: 5rem; }
  .page__logoBox-img {
    width: 25rem; }

.page__searchBox {
  display: flex;
  justify-content: center; }
  .page__searchBox-input {
    background-color: #f7dec1;
    border-radius: 2rem;
    width: 45rem;
    height: 1.3rem;
    padding: 10px 30px 10px 10px;
    background-image: url("../img/search_icon.png");
    background-size: 1.7rem;
    background-position: 95% center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    outline: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

.footer {
  background-color: #f3dcc3;
  height: 5rem; }
  .footer__need {
    background-color: #f3dcc3;
    height: 3.5rem; }
  .footer__logo {
    display: flex;
    justify-content: left; }
  .footer__row {
    padding: 1rem 1rem;
    display: block;
    margin-left: 2rem; }
  .footer__link {
    text-decoration: none; }
    .footer__link-img {
      height: 2rem;
      transition: all 0.5s ease; }
      .footer__link-img:hover {
        transform: scale(1.1); }

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; }
  .post__button {
    margin-top: 20px;
    padding: 10px 20px; }
    .post__button:hover {
      background-color: #0056b3; }
  .post__popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; }
    .post__popup-content {
      background-color: #fff;
      width: 70%;
      max-width: 400px;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 2rem;
      position: relative; }
    .post__popup-close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      font-size: 24px; }
    .post__popup-textarea {
      width: 100%;
      height: 100px;
      margin: 10px 0;
      resize: none; }
    .post__popup-submit {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer; }
      .post__popup-submit:hover {
        background-color: #0056b3; }
  .post__container {
    margin: 20px 0; }

.post-new {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  height: 14rem;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 1rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.main {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/sanjob.png);
  background-size: cover;
  background-position: top;
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

.main-2 {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/need1.png);
  background-size: cover;
  background-position: top;
  position: relative; }

@media (max-width: 87.499em) {
  .margin-top {
    margin-top: 2rem; } }

@media (max-width: 47.999em) {
  .margin-top {
    margin-top: 10rem; } }

.center {
  display: flex;
  justify-content: center;
  margin-top: 5rem; }

@media (max-width: 47.999em) {
  .need {
    width: 100%; } }

@media (max-width: 47.999em) {
  .need__animation {
    margin-top: 5rem; } }

.need__animation--img {
  width: 70rem;
  opacity: 0.7;
  background-color: #5a7e5a;
  border-radius: 5rem;
  padding: 0.4rem 0.4rem;
  animation: colorChange 10s infinite; }
  @media (max-width: 61.999em) {
    .need__animation--img {
      padding: 0.5rem 0.5rem; } }
  @media (max-width: 47.999em) {
    .need__animation--img {
      display: flex;
      justify-content: center;
      padding: 0;
      width: 30rem; } }
  .need__animation--img-ac {
    width: 4rem;
    opacity: 1; }
    @media (max-width: 61.999em) {
      .need__animation--img-ac {
        width: 3rem; } }
    @media (max-width: 47.999em) {
      .need__animation--img-ac {
        width: 2.5rem; } }
  .need__animation--img-sq {
    opacity: 1;
    width: 4rem;
    animation: mymove 10s infinite;
    position: relative;
    animation-timing-function: linear;
    padding-top: 0.5rem; }
    @media (max-width: 112.5em) {
      .need__animation--img-sq {
        animation: myMovexl 12s infinite;
        animation-timing-function: linear; } }
    @media (max-width: 61.999em) {
      .need__animation--img-sq {
        width: 3rem; } }
    @media (max-width: 47.999em) {
      .need__animation--img-sq {
        width: 2.5rem;
        animation: myMovemd 7s infinite;
        animation-timing-function: linear; } }

.need__header {
  display: flex;
  justify-content: center; }
  .need__header-p {
    transition: all 0.5s ease;
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-timing-function: ease;
    width: 40rem;
    margin-top: 10rem;
    margin-bottom: 4rem;
    font-size: 5rem;
    color: #625b56;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    transition: all 3s ease;
    animation-name: fadeIn; }
    .need__header-p-span {
      font-size: 2rem; }
    @media (max-width: 61.999em) {
      .need__header-p {
        width: 30rem; } }
    @media (max-width: 47.999em) {
      .need__header-p {
        margin-top: 3rem;
        font-size: 3rem;
        margin-bottom: 5rem; } }
    @media (max-width: 35.999em) {
      .need__header-p {
        margin-top: 4rem;
        margin-bottom: 6rem; } }

.need__post {
  display: flex;
  justify-content: center; }
  .need__post-button {
    width: 8rem;
    height: 2rem;
    border-radius: 2rem; }

.need__searchBox {
  display: flex;
  justify-content: center; }
  @media (max-width: 47.999em) {
    .need__searchBox {
      margin-bottom: 2rem; } }
  .need__searchBox-input {
    transition: all 0.5s ease;
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-timing-function: ease;
    background-color: #ffffff;
    border-radius: 2rem;
    width: 30rem;
    height: 3rem;
    padding: 10px 30px 10px 10px;
    background-image: url("../img/search_icon.png");
    background-size: 1.7rem;
    background-position: 95% center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    outline: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }
    @media (max-width: 61.999em) {
      .need__searchBox-input {
        width: 25rem;
        height: 3rem; } }
    @media (max-width: 47.999em) {
      .need__searchBox-input {
        width: 27rem;
        background-size: 1rem; } }

.need__ricky {
  display: flex;
  justify-content: center;
  align-items: center; }
  .need__ricky-image {
    transition: all 0.5s ease;
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-timing-function: ease;
    width: 45rem; }
    @media (max-width: 112.5em) {
      .need__ricky-image {
        margin-top: 6rem; } }
    @media (max-width: 87.499em) {
      .need__ricky-image {
        margin-top: 5rem; } }
    @media (max-width: 61.999em) {
      .need__ricky-image {
        margin-right: -5rem;
        width: 40rem; } }
    @media (max-width: 47.999em) {
      .need__ricky-image {
        width: 25rem;
        margin-top: 0;
        margin-right: 0; } }
