@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

html {
  margin: 1rem 1rem;
  font-size: 62.5%; }
  @media (max-width: 53em) {
    html {
      margin: 0; } }
  @media (max-width: 70em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 60.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

.character {
  display: flex;
  justify-content: center; }
  .character__row {
    display: block;
    margin-top: 4rem;
    margin-right: 2rem; }
    @media (max-width: 70em) {
      .character__row {
        margin-bottom: -1rem; } }
    @media (max-width: 60.25em) {
      .character__row {
        margin-bottom: -1rem; } }
  .character__link {
    text-decoration: none; }
    .character__link-adwin {
      height: 14rem;
      transition: all 0.5s ease;
      animation-name: fadeIn;
      animation-duration: 2s;
      animation-timing-function: ease;
      animation-name: moveInLeft; }
      @media (max-width: 90.5em) {
        .character__link-adwin {
          height: 12rem; } }
      @media (max-width: 70em) {
        .character__link-adwin {
          height: 12rem; } }
      @media (max-width: 60.25em) {
        .character__link-adwin {
          height: 11rem; } }
      @media (max-width: 53em) {
        .character__link-adwin {
          height: 10rem; } }
      @media (max-width: 30em) {
        .character__link-adwin {
          height: 7rem; } }
      .character__link-adwin:hover {
        transform: scale(1.1); }
    .character__link-qimon {
      height: 14rem;
      transition: all 0.5s ease;
      animation-name: fadeIn;
      animation-name: moveInBottom;
      animation-duration: 2s;
      animation-timing-function: ease; }
      @media (max-width: 90.5em) {
        .character__link-qimon {
          height: 12rem; } }
      @media (max-width: 70em) {
        .character__link-qimon {
          height: 12rem; } }
      @media (max-width: 60.25em) {
        .character__link-qimon {
          height: 11rem; } }
      @media (max-width: 53em) {
        .character__link-qimon {
          height: 10rem; } }
      @media (max-width: 30em) {
        .character__link-qimon {
          height: 7rem; } }
      .character__link-qimon:hover {
        transform: scale(1.1); }
    .character__link-ricky {
      height: 14rem;
      margin-left: 1rem;
      transition: all 0.5s ease;
      animation-name: fadeIn;
      animation-name: moveInRight;
      animation-duration: 2s;
      animation-timing-function: ease; }
      @media (max-width: 90.5em) {
        .character__link-ricky {
          height: 12rem; } }
      @media (max-width: 70em) {
        .character__link-ricky {
          height: 12rem; } }
      @media (max-width: 60.25em) {
        .character__link-ricky {
          height: 11rem; } }
      @media (max-width: 53em) {
        .character__link-ricky {
          height: 10rem; } }
      @media (max-width: 30em) {
        .character__link-ricky {
          height: 7rem; } }
      .character__link-ricky:hover {
        transform: scale(1.1); }

.character__name {
  text-align: center;
  background-color: #f4d3b0;
  border-radius: 0.7rem;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.7rem;
  border: 1px solid #96938f;
  color: #462008; }
  @media (max-width: 53em) {
    .character__name {
      font-size: 1.5rem; } }
  @media (max-width: 30em) {
    .character__name {
      font-size: 1.2rem; } }
  .character__name-1 {
    margin-right: 0.8rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
  .character__name-2 {
    margin-left: 0.1rem;
    animation-name: moveInBottom;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
  .character__name-3 {
    margin-left: 1rem;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
  .character__name-span {
    font-size: x-small;
    font-weight: 300;
    color: #3d1a06; }
    @media (max-width: 30em) {
      .character__name-span {
        font-size: 1rem; } }

.navigation__list {
  list-style-type: none;
  padding: 2rem 2rem;
  overflow: hidden;
  font-size: 1.3rem;
  font-weight: 600; }
  @media (max-width: 90.5em) {
    .navigation__list {
      font-size: 1.6rem; } }
  @media (max-width: 60.25em) {
    .navigation__list {
      font-size: 1.5rem; } }
  @media (max-width: 53em) {
    .navigation__list {
      font-size: 1.2rem; } }
  @media (max-width: 30em) {
    .navigation__list {
      font-size: 0.8rem; } }

.navigation__item {
  float: right;
  margin-left: 1.5rem;
  padding: 8px;
  background-color: #d68955;
  border-radius: 1.5rem;
  transition: all 0.5s ease; }
  .navigation__item:hover {
    text-decoration: underline;
    transform: scale(1.15);
    opacity: 0.8; }
    @media (max-width: 30em) {
      .navigation__item:hover {
        transform: scale(1.07); } }

.navigation__link {
  display: block;
  text-decoration: none;
  color: black; }

.page__logoBox {
  animation-name: fadeIn;
  animation-name: moveInTop;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  display: flex;
  justify-content: center;
  margin-top: 5rem; }
  @media (max-width: 90.5em) {
    .page__logoBox {
      margin-top: 4rem; } }
  @media (max-width: 70em) {
    .page__logoBox {
      margin-top: 5rem; } }
  @media (max-width: 60.25em) {
    .page__logoBox {
      margin-top: 6rem; } }
  @media (max-width: 53em) {
    .page__logoBox {
      margin-top: 7rem; } }
  @media (max-width: 30em) {
    .page__logoBox {
      margin-top: 8rem; } }
  .page__logoBox-img {
    width: 25rem; }
    @media (max-width: 90.5em) {
      .page__logoBox-img {
        width: 24rem; } }
    @media (max-width: 70em) {
      .page__logoBox-img {
        width: 24rem; } }
    @media (max-width: 60.25em) {
      .page__logoBox-img {
        width: 24rem; } }
    @media (max-width: 53em) {
      .page__logoBox-img {
        width: 17rem; } }
    @media (max-width: 30em) {
      .page__logoBox-img {
        width: 15rem; } }

.page__searchBox {
  display: flex;
  justify-content: center; }
  .page__searchBox-input {
    background-color: #f7dec1;
    border-radius: 2rem;
    width: 45rem;
    height: 1.3rem;
    padding: 10px 30px 10px 10px;
    background-image: url("../img/search_icon.png");
    background-size: 1.7rem;
    background-position: 95% center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    outline: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }
    @media (max-width: 90.5em) {
      .page__searchBox-input {
        width: 55rem; } }
    @media (max-width: 70em) {
      .page__searchBox-input {
        width: 55rem; } }
    @media (max-width: 60.25em) {
      .page__searchBox-input {
        width: 49rem; } }
    @media (max-width: 53em) {
      .page__searchBox-input {
        width: 28rem; } }
    @media (max-width: 30em) {
      .page__searchBox-input {
        width: 22rem; } }

.footer {
  background-color: #f3dcc3;
  height: 5rem; }
  @media (max-width: 53em) {
    .footer {
      height: 8rem; } }
  .footer__logo {
    display: flex;
    justify-content: left; }
  .footer__row {
    padding: 1rem 0.7rem;
    display: block;
    margin-left: 2rem; }
  .footer__link {
    text-decoration: none; }
    .footer__link-img {
      height: 2rem;
      transition: all 0.5s ease; }
      @media (max-width: 90.5em) {
        .footer__link-img {
          height: 3rem; } }
      @media (max-width: 70em) {
        .footer__link-img {
          height: 3rem; } }
      @media (max-width: 30em) {
        .footer__link-img {
          height: 3rem; } }
      .footer__link-img:hover {
        transform: scale(1.1); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.main {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/sanjob.png);
  background-size: cover;
  background-position: top;
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }
  @media (max-width: 70em) {
    .main {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/tabland.png); } }
  @media (max-width: 60.25em) {
    .main {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/tabland.png);
      height: 56rem; } }
  @media (max-width: 53em) {
    .main {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/simple.png); } }
  @media (max-width: 30em) {
    .main {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/simple.png); } }
