.navigation {
  &__list {
    list-style-type: none;
    padding: 2rem 2rem;
    overflow: hidden;
    font-size: 1.3rem;
    font-weight: 600;
    @include respond(large-sized) {
      font-size: 1.6rem;
    }
    @include respond(small-sized) {
      font-size: 1.5rem;
    }
    @include respond(tablet) {
      font-size: 1.2rem;
    }
    @include respond(mobile) {
      font-size: 0.8rem;
    }
    @include respond(lg) {
      font-size: 1.2rem;
    }
    @include respond(md) {
      font-size: 1rem;
    }
    @include respond(sm) {
      font-size: 0.8rem;
    }
  }
  &__item {
    float: right;
    margin-left: 1.5rem;
    padding: 8px;
    background-color: #f9b170;
    border-radius: 1.5rem;
    transition: all 1s ease;
    &:hover {
      text-decoration: underline;
      transform: scale(1.2);
      @include respond(mobile) {
        transform: scale(1.07);
      }
    }
  }
  &__link {
    display: block;
    text-decoration: none;
    color: black;
  }
}
