.navigation {
  &__list {
    list-style-type: none;
    padding: 2rem 2rem;
    overflow: hidden;
    font-size: 1.5rem;
    @include respond(phone) {
      font-size: 1rem;
    }
  }

  &__item {
    float: right;
    margin-left: 1.5rem;
    padding: 8px;
    background-color: rgb(225, 147, 95);
    border-radius: 1.5rem;
    transition: all 0.5s ease;
    &:hover {
      text-decoration: underline;
      transform: scale(1.15);
      opacity: 0.8;
      @include respond(phone) {
        transform: scale(1.07);
      }
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: black;
  }
}
