.page__logoBox {
  animation-name: fadeIn;
  animation-name: moveInTop;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  @include respond(large-sized) {
    margin-top: 4rem;
  }
  @include respond(medium-sized) {
    margin-top: 5rem;
  }
  @include respond(small-sized) {
    margin-top: 6rem;
  }
  @include respond(tablet) {
    margin-top: 7rem;
  }
  @include respond(mobile) {
    margin-top: 8rem;
  }

  &-img {
    width: 25rem;
    @include respond(large-sized) {
      width: 24rem;
    }
    @include respond(medium-sized) {
      width: 24rem;
    }
    @include respond(small-sized) {
      width: 24rem;
    }
    @include respond(tablet) {
      width: 17rem;
    }
    @include respond(mobile) {
      width: 15rem;
    }
  }
}

.page__searchBox {
  display: flex;
  justify-content: center;
  &-input {
    background-color: #f7dec1;
    border-radius: 2rem;
    width: 45rem;
    height: 1.3rem;
    padding: 10px 30px 10px 10px;
    background-image: url("../img/search_icon.png");
    background-size: 1.7rem;
    background-position: 95% center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    outline: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    @include respond(large-sized) {
      width: 55rem;
    }
    @include respond(medium-sized) {
      width: 55rem;
    }
    @include respond(small-sized) {
      width: 49rem;
    }
    @include respond(tablet) {
      width: 28rem;
    }
    @include respond(mobile) {
      width: 22rem;
    }
  }
}
