@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 30em) {
      @content;
    } //480px
  }
  @if $breakpoint == tablet {
    @media (max-width: 53em) {
      @content;
    } //848px
  }
  @if $breakpoint == small-sized {
    @media (max-width: 60.25em) {
      @content;
    } //964px
  }
  @if $breakpoint == medium-sized {
    @media (max-width: 70em) {
      @content;
    } //1120px
  }
  @if $breakpoint == large-sized {
    @media (max-width: 90.5em) {
      @content;
    } //1448
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    } //1800
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: 35.999em) {
      @content;
    } //575.98px
  }
  @if $breakpoint == md {
    @media (max-width: 47.999em) {
      @content;
    } //767.98px
  }
  @if $breakpoint == lg {
    @media (max-width: 61.999em) {
      @content;
    } //991.98px
  }
  @if $breakpoint == xl {
    @media (max-width: 74.999em) {
      @content;
    } //1199.98px
  }
  @if $breakpoint == xxl {
    @media (max-width: 87.499em) {
      @content;
    } //1399.98px
  }
  @if $breakpoint == 3xl {
    @media (max-width: 112.5em) {
      @content;
    } //1800
  }
}
