@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 30em) {
      @content;
    } //480px
  }
  @if $breakpoint == tablet {
    @media (max-width: 53em) {
      @content;
    } //848px
  }
  @if $breakpoint == small-sized {
    @media (max-width: 60.25em) {
      @content;
    } //964px
  }
  @if $breakpoint == medium-sized {
    @media (max-width: 70em) {
      @content;
    } //1120px
  }
  @if $breakpoint == large-sized {
    @media (max-width: 90.5em) {
      @content;
    } //1448
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    } //1800
  }
}
