*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.main {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(black, 0),
      rgba(black, 0)
    ),
    url(../img/sanjob.png);
  background-size: cover;
  background-position: top;
  position: relative;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  @include respond(tab-land) {
    background-image: linear-gradient(
        to right bottom,
        rgba(black, 0),
        rgba(black, 0)
      ),
      url(../img/tabland.png);
  }
  @include respond(tab-port) {
    background-image: linear-gradient(
        to right bottom,
        rgba(black, 0),
        rgba(black, 0)
      ),
      url(../img/tabland.png);
    height: 56rem;
  }

  @include respond(phone) {
    background-image: linear-gradient(
        to right bottom,
        rgba(black, 0),
        rgba(black, 0)
      ),
      url(../img/simple.png);
  }
  @include respond(mini-phone) {
    background-image: linear-gradient(
        to right bottom,
        rgba(black, 0),
        rgba(black, 0)
      ),
      url(../img/simple.png);
  }
}
